.banner{   
    width: 768px;
    margin: 0 auto;
    background-image: url(../photos/images\ \(3\).jpg);
    background-repeat: no-repeat;
    background-size: 650px;
    background-position-x: 100%;
    background-position-y: -48px;
}
nav{
   /* border: 1px solid red;*/
}
nav .logo{
    /*border: 1px solid red;*/
    width: 100px;
    margin-left: 10px;
}
nav .nav_links{
     /*border: 1px solid red;*/
    margin-left:10px;
    display: inline-block;
    vertical-align: top ;
    margin-top: 23px;
}
nav .nav_links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type:none;
}
nav .nav_links li a{
     /*border: 1px solid red;*/
    margin:10px;
    padding:10px;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size:12px ;
    font-weight:600;
}
nav .nav_links li a:hover{
    color:rgb(252, 84, 7) ;
}
.introduce{
    /*border: 1px solid red;*/
}
.introduce .left{
    /*border: 1px solid red;*/
    display: inline-block;
    width: 44.2%;
    vertical-align: top;
    padding: 20px;
}
.introduce .left h5{
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    color: rgb(77, 74, 74);
}

.introduce .left h1{
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
   
}
.introduce .left button{
    height: 30px;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 10px;
    font-weight:bold;
    background: rgb(197,143,219);
    background: linear-gradient(90deg, rgba(197,143,219,1) 27%, rgba(9,233,194,1) 100%);
}
.introduce .left button:hover{
    color:rgb(252, 7, 7) ;
}
.introduce .right{
    /*border: 1px solid red;*/
    display: inline-block;
    width: 30.5%;
    text-align: right;
    padding-right: 150px;
}
.introduce .right img{
    width: 200px;
}
.count{
    /*border: 1px solid red;*/
    margin-top: 40px;
}
.count .body{
    /*border: 1px solid red;*/
    display: inline-block;
    margin-left:60px;
    padding: 20px;
    width: 130px;
    text-align: center;
    border-radius: 100%;
    background-color: #f8bb9f;
}
.count .body h1{
    font-size: 40px ;
    font-family: sans-serif;
    background: #2A11CF;
    background: linear-gradient(to bottom right, #2A11CF 47%, #CF810C 57%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.count .body h6{
    font-size: 15px;
    font-family: sans-serif;
    text-transform: capitalize;
    color: rgb(87, 87, 87);
}
.count .body h1:hover{
    color:#fd6906
}